{% extends 'base.html' %}
{% block title %}
User Login
{% endblock title %}
<br><br>
{% block content %}
<table>
  <form action="" method="POST">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group">
          {{ field.label_tag }} {{ field }}
          {% if field.errors %}
            <div class="invalid-feedback">
              {% for error in field.errors %}
                {{ error }}
              {% endfor %}
            </div>
          {% endif %}
        </div>
      {% endfor %}
      

      <input type="submit" value="Submit">
      <br>
      <br>
     
  </form>
  {{forms.errors}}
</table>
{% endblock content %}